<% include ../partials/header.ejs %>

 <form method='POST' action='/lists'>
   <input name='title' type='text' placeholder='title' />
   <input name='status' type='text' placeholder='status' />
   <input name='category' type='text' placeholder='category'/>
   <input type='submit' value='Submit' />
 </form>

 <% include ../partials/footer.ejs %>
