<% include ../partials/header.ejs %>

   <div class='todo'>
       <h1><%= data.title %></h1>
       <h3><%= data.status %></h3>
       <h3><%= data.category %></h3>
       <a href='/lists/'>See all todos</a>
   </div>


<% include ../partials/footer.ejs %>
